<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <% if(success.length>0) { %>
        <div style="color: green;"> <%= success[0] %></div>
    <% } %>
    <% if(error.length>0) { %>
        <div style="color: red;"> <%= error[0] %></div>
    <% } %>

    <form action="/submit" method="post">
        <input type="text" name="name" placeholder="Enter Your Name"/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>